@import "../../styles/variables";

.loader-wrapper {
  position: fixed;
  background: rgba(34,34,41, 0.85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 100;

  .circle-border {
    width: 76px;
    height: 76px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $accent-color;
    background: conic-gradient(from 90deg at 50% 50%, #000000, #ffff00, $accent-color);
    animation: spin 1s linear 0s infinite;
  }

  .circle-core {
    width: 100%;
    height: 100%;
    background-color: $main-background;
    border-radius: 50%;
  }

}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}