@import "../../styles/variables";

.score-label {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 120px;
  height: 86px;
  background: $main-background;
  color:#fff;
  border-radius: 16px;
  font-family: "Gilroy-ExtraLight", sans-serif;
  font-size: 4.3rem;
  line-height: 84px;
  letter-spacing: -1px;
  text-align: center;
  z-index: 10;
}

@media screen and (orientation:portrait) {
  .score-label {
    padding-top: 3px;
  }
}