@import "../../styles/variables";

.workout-card {
  position: relative;
  cursor: pointer;
  width: 100%;

  .workout-card-title {
    position: absolute;
    top: 50px;
    left: 16px;
    color:#fff;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 2.3rem;
    line-height: 1em;
    margin:0;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  }

  .workout-card-image {
    display: block;
    object-fit: contain;
    width: 100%;
  }

}

@media (min-width:440px) {
  .workout-card {
    width: auto;
  }
}