
.section-start-layer {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center !important;
  background: rgba(0,0,0,0.15);
  color: #fff;
  z-index: 30;

  .countdown {
    font-size: 13rem;
    text-align: center;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    text-shadow: 0 0 15px rgba(0,0,0,.8);
    &.out {
      animation: countdown-out 1s linear;
    }
  }

  img {
    height: 60vh;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.65));
    &.success {
      filter: drop-shadow(0 0 7px #b3fe00);
      transform: scale(1.05);
    }
  }

  .help-text {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    padding: 20px 16px;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.65);
    background: linear-gradient(0deg, rgba(34,34,41,1) 65%, rgba(0,212,255,0) 100%)
  }
}


@keyframes countdown-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}