@import "../../styles/variables";

.bottom-score-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  padding: 10px;
  background: linear-gradient(0deg, rgba(34,34,41,1) 55%, rgba(0,212,255,0) 100%);
  z-index: 10;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-around;

  .score-items-wrapper {
    width: 100%;
    max-width: 400px;
    height: 77px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    gap: 5px;

    & > div {
      width: 15px;
      //flex-grow: 1;
      height: 15px;
      background: #ebebeb;
      border-radius: 8px;
      transition: all .3s linear;
    }
  }


}