
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'),
  url(./fonts/Gilroy-Extrabold.eot) format('eot'),
  url(./fonts/Gilroy-Extrabold.woff) format('woff'),
  url('./fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraLight';
  src: local('Gilroy-ExtraLight'),
  url(./fonts/Gilroy-Light.eot) format('eot'),
  url(./fonts/Gilroy-Light.woff) format('woff'),
  url('./fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'),
  url(./fonts/Roboto-Bold.woff) format('woff'),
  url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'),
  url(./fonts/Roboto-Regular.woff) format('woff'),
  url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
