
@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: $main-background;
  font-family: 'Gilroy-ExtraLight', sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;

  & > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }

  h1 {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    margin: 15px 0 30px;
  }

  .content {
    flex-grow: 1;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 0 16px;
  }
}

