@import "../../styles/variables";

.duration-tag {
  background: $main-background;
  color:#fff;
  font-size: .7rem;
  line-height: 1em;
  position: absolute;
  top:16px;
  left:16px;
  display: flex;
  gap: 6px;
  height: 22px;
  padding: 0 8px;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 11px;
}