
.section-camera {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
  }
}