@import "../../styles/variables";

.timer-progress-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 86px;
  height: 86px;
  padding: 10px;
  background: $main-background;
  border-radius: 50%;
  z-index: 10;
}