
.section-thanks {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: #23232b;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  img {
    height: 125px;
  }

  h2 {
    font-size: 1.6rem;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    text-align: center;
    margin: 2rem;
  }

  button {
    background: #23232b;
    width: 220px;
    height: 52px;
    color:#fff;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-radius: 26px;
    margin: 2rem 0 4rem
  }
}