footer {
  padding: 30px 0;
  display: flex;
  align-self: center;
  font-family: 'Gilroy-ExtraLight', sans-serif;
  a {
    font-size: .7rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted #fff;
  }
}